<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.vincentketelaars.mexen"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="nl.vincentketelaars.mexen.activities.MexGame"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="nl.vincentketelaars.mexen.activities.Roll2Dice"
            android:label="@string/app_name"
            android:parentActivityName="nl.vincentketelaars.mexen.activities.MexGame"
            android:screenOrientation="sensorPortrait" >

            <!-- Older than API 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.vincentketelaars.mexen.activities.MexGame" />
        </activity>
        <activity
            android:name="nl.vincentketelaars.mexen.activities.Roll3Dice"
            android:label="@string/app_name"
            android:parentActivityName="nl.vincentketelaars.mexen.activities.MexGame"
            android:screenOrientation="sensorPortrait" >

            <!-- Older than API 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.vincentketelaars.mexen.activities.MexGame" />
        </activity>
        <activity
            android:name="nl.vincentketelaars.mexen.activities.Description"
            android:label="@string/app_name"
            android:parentActivityName="nl.vincentketelaars.mexen.activities.MexGame" >

            <!-- Older than API 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.vincentketelaars.mexen.activities.MexGame" />
        </activity>
        <activity
            android:name="nl.vincentketelaars.mexen.activities.Mex2DiceSettingsActivity"
            android:label="@string/settings"
            android:parentActivityName="nl.vincentketelaars.mexen.activities.Roll2Dice" >

            <!-- Older than API 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.vincentketelaars.mexen.activities.Roll2Dice" />
        </activity>
        <activity
            android:name="nl.vincentketelaars.mexen.activities.GenericActivity"
            android:label="@string/title_activity_generic" >
        </activity>
    </application>

</manifest>
