<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.vincentketelaars.mexen"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="nl.vincentketelaars.mexen.MexGame"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="nl.vincentketelaars.mexen.Roll2Dice"
            android:label="@string/app_name"
            android:parentActivityName="nl.vincentketelaars.mexen.MexGame" >
            <!-- Older than API 16 -->
            <meta-data
            	android:name="android.support.PARENT_ACTIVITY"
            	android:value="nl.vincentketelaars.mexen.MexGame" />
        </activity>
        
        <activity
            android:name="nl.vincentketelaars.mexen.Roll3Dice"
            android:label="@string/app_name"
            android:parentActivityName="nl.vincentketelaars.mexen.MexGame" >
            <!-- Older than API 16 -->
            <meta-data
            	android:name="android.support.PARENT_ACTIVITY"
            	android:value="nl.vincentketelaars.mexen.MexGame" />
        </activity>
    </application>

</manifest>
